 Virtual Environment
venv/
.venv/

# Byte-code and compiled files
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.sqlite3
*.db

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store